.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 40px;
  height: 6px;
  border-radius: 0;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.4);
  transition: all 150ms ease-in;
}
.swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--main-color);
  height: 8px;
}
section.swipper-container {
  height: 40rem;
}

@media (max-width: 768px) {
  section.swipper-container-sm {
    height: 28rem;
  }
}

section.swipper-container img {
  min-height: 100%;
  object-fit: cover;
}
.brand
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}

.services .swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
  padding-bottom: 40px;
}

.brand .swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
  padding-bottom: 40px;
}
.brand
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.4);
  transition: all 150ms ease-in;
}

.brand
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--main-color);
  height: 8px;
}

nav.main-menu a {
  transition: all 150ms ease-in;
}

nav.main-menu a.active {
  color: var(--main-color);
}

.sidebar a.active {
  color: var(--main-color);
}

nav.main-menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: var(--main-color);
  height: 4px;
  width: 0px;
  transition: all 150ms ease-in;
}

nav.main-menu a:hover::before {
  width: 100%;
}

nav.main-menu a:hover {
  color: var(--main-color);
}

.carousel-card::before {
  content: '';
  width: 75%;
  height: 5px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  transition: all 150ms ease-in;
}

.carousel-card:hover::before {
  height: 10px;
}

/* img {
  transition: all 500ms ease-in;
  transform: scale(1);
}
img:hover {
  transform: scale(1.1);
} */

article.news-articles::before {
  content: '';
  width: 80%;
  height: 4px;
  background-color: #e2e2e2;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 150ms ease-in;
}
article.news-articles:hover::before {
  height: 10px;
  background-color: var(--main-color);
}
